/node_modules
/public/hot
/public/wp-content
/Storage/framework/cache/*
/Storage/framework/sessions/*
/Storage/framework/testing/*
/Storage/framework/views/*
/Storage/logs/*.log
/storage/*.key
/public/storage/**
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
