
.bg_color1{background-color: #0a71a1;}
.bg_color2{background-color:#7f41fc;}
.bg_color3{background-color:#ffff00;}
.bg_color4{background-color:#ff4b23;}
.bg_color5{background-color:#802932;}
.bg_color6{background-color:#5A2119;}
.bg_color7{background-color:#CA3C3C;}
.bg_color8{background-color: #cbc5c5!important;}
.bg_color9{background-color:#1da1f2;!important;}
/*#bgll{background-color:#1da1f2;!important;}*/

